/* MAIN */

.homepage-circle-container {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
}

.homepage-circle {
    vertical-align: middle;
    margin: 3%;
    width: 100%;
    padding-bottom: 100%;
    background-color: #333;
    border-radius: 50%;
    background-color: #ffb071ff;
}

.homepage-circle-container:nth-child(even) > .homepage-circle {
    background-color: #ff8670ff;
}


.circle-img {
    max-width: 100%;
    left: 35%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.homepage-circle-text {
    text-align: center;
}

@media screen and (max-width: 750px) {
    .homepage-circle-container {
        width: 70px;
        height: 70px;
    }

    .circle-img {
        left: 25%;
    }
}

#selectedCity {
    cursor: pointer
}

/* COLORS */

.inqueue-purple {
    color: #8d85ffff
}

.bg-inqueue-purple {
    background-color: #8d85ffff
}

.inqueue-orange {
    color: #ffb071ff
}

.btn-inqueue-purple {
    color: #fff;
    background-color: #8d85ffff;
    border-color: rgb(119, 112, 221);
}
.btn-inqueue-purple-gradient {
    background: #8d85ff;
    background: -moz-linear-gradient(-45deg,  #8d85ff 0%, #cbc7ff 100%);
    background: -webkit-linear-gradient(-45deg,  #8d85ff 0%,#cbc7ff 100%);
    background: linear-gradient(135deg,  #8d85ff 0%,#cbc7ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d85ff', endColorstr='#cbc7ff',GradientType=1 );

}

.btn-inqueue-purple:hover {
    color: #fff;
    background-color: rgb(149, 142, 247);
    border-color: rgb(113, 106, 211);
}
.btn-check:focus + .btn-inqueue-purple, .btn-inqueue-purple:focus {
    color: #fff;
    background-color: rgb(98, 92, 196);
    border-color: rgb(84, 78, 163);
    box-shadow: none;
}

.btn-inqueue-style {
    border-radius: 200px;
    text-transform: uppercase;
    padding-left: 2em;
    padding-right: 2em;
}


/* ELEMENTS */

.col:first-child {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.col:nth-child(2) {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.col:nth-child(3) {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 1s;
}


/* ANIMATIONS */
@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/* MAP */
#businessPositionMap { height: 200px; }

/* INSERT IMAGE */
/*
.avatar-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: auto;
    box-shadow: 1px 1px 15px -5px black;
    transition: all .3s ease;
}
.avatar-wrapper:hover{
     transform: scale(1.05);
     cursor: pointer;
 }
.avatar-wrapper:hover .profile-pic{
     opacity: .5;
 }
.profile-pic {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
}
.profile-pic:after{
     content: url('../images/OOjs_UI_icon_upload.svg.png');
     background-size: 40px 40px;
     top: 0; left: 0;
     width: 100%;
     height: 100%;
     position: absolute;
     font-size: 7rem;
     background: #ecf0f1;
     color: #34495e;
 }

.upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
*/

/*TEST*/
.avatar-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
}
.avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.avatar-wrapper:hover .profile-pic {
    opacity: 0.5;
}
.avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}
.avatar-wrapper .profile-pic:after {
    font-family: FontAwesome;
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 190px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}
.avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.avatar-wrapper .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 234px;
    top: -17px;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    color: #34495e;
}
.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
    opacity: 0.9;
}
/*END TEST*/

html, body {
  height: 100%;
  margin: 0;
}

main {
  min-height: 90%;
}

footer {
    bottom: 0;
}