{% extends 'base.html' %}

{% block title %}
Hai prenotato su Inqueue
{% endblock %}

{% block main %}

<div class="text-center">

<h1 class="mt-5">La tua prenotazione è andata a buon fine!</h1>
<p class="text-muted">Abbiamo ricevuto la tua prenotazione e il tuo posto è stato riservato.</p>
<p class="text-muted">Qui sotto puoi vedere un riepilogo della tua prenotazione e scaricare una ricevuta</p>

<hr>

<h2>Riepilogo</h2>

        <p class="h4 mt-3">HAI PRENOTATO</p>
        <p class="h5 text-primary">{{query_result["service"]}}</p> 


<p class="h5">Da {{query_result["business_name"][:-9]}} per il giorno {{query_result["day"]}} alle ore {{query_result["time"]}}</p> <br>
<form action="/files/tickets/{{query_result["_id"]}}.pdf" method="get" target="_blank">
<input type="submit" class="btn btn-inqueue-purple" value="Scarica il PDF">
</form>
{% endblock %}

</div>
</div>
<hr>



</div>