{% extends 'base.html' %}

{% block title %}
Aggiungi la tua attività su InQueue
{% endblock %}

{% block main %}


<style>
    #businessPositionMap{
        height: 30rem;
    }
</style>

<h2 class="mt-5 mb-4">Registra la tua attività</h2>
<p class="text-muted">Registra la tua attività su InQueue per ricevere le prenotazioni online</p>
<div class="container">
    <form action="#" method="POST" id="form" enctype="multipart/form-data" class="mt-5">
        <section id="form1">
            <h3>Inizia col darci le informazioni sulla tua attività</h3>
            <div class="mb-3">
                <label for="img" class="form-label d-block">Immagine di presentazione</label>
                <img id="output" width="200" class="my-2 mx-auto d-block"/>	
                <input class="form-control" type="file" accept="image/*" id="img" name="img" onchange="loadFile(event)" required>
              </div>
            <div class="row">
                <div class="col-md mt-3">
                    <label for="bname">Nome attività</label>
                    <input required type="text" autocomplete="activity-name" class="form-control" id="bname" name="bname" placeholder="Nome attività">
                </div>
                <div class="col mt-3">
                    <label for="type">Tipologia</label>
                    <select class="form-select form-select-md mb-3" id="type" name="type" onchange="disableByType(this)">
                        <option value="barber">Barbiere</option>
                        <option value="beautician">Estetista</option>
                        <option value="hairdresser">Parrucchiere</option>
                        <option value="field">Campo sportivo</option>
                        <option value="museum">Museo - Luogo d'interesse</option>
                        <option value="freelance">Libero professionista</option>
                        <option value="car-repair">Meccanico</option>
                    </select>
                </div>
            </div>

            <h3>Inserisci l'indirizzo della tua attività</h3>
            <p class="text-muted">Clicca sulla mappa per aggiungere la posizione in cui si trova la tua attività</p>

            
            

                
            
              <input type="text" class="form-control" name="lat" id="lat" readonly hidden required>
              <input type="text" class="form-control" name="lon" id="lon" readonly hidden required>
            <div class="row">

             <div class="col">
                <label for="address">Indirizzo</label>
                <div class="input-group mb-3">
              <button class="btn btn-outline-secondary" type="button" onclick="businessGPS()" id="GPSButton">Localizzami</button>
                <input type="text" class="form-control" name="address" id="address" placeholder="Via Nuova Poggioreale" required autocomplete="no">
                </div>
              </div>
            

            <div class="col">
              <label for="city">Città</label>   
            <div class="row">           
               <div class="col mb-3 autocomplete">
                  <input type="text" class="form-control" placeholder="Napoli" name="city" id="city" required autocomplete="no">
                </div>  
                <div class="col">
                <button class="btn btn-outline-secondary" type="button" onclick="getAddress((document.getElementById('address').value + ' ' + document.getElementById('city').value))">Cerca</button>
                </div>
                </div>

             </div>
        </div>


            <div id="businessPositionMap"></div>
            <script type="text/javascript">
                /* LEAFLET */
                let businessPositionMap = L.map('businessPositionMap').setView([47.5, 14], 5);
                businessPositionMap.zoomControl.remove()
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a>',
                }).addTo(businessPositionMap);
      
                let markerIcon = L.icon({
                  iconUrl: '../static/images/leafletimages/marker-icon.png',
                  shadowUrl: '../static/images/leafletimages/marker-shadow.png',
                  iconSize: [25, 41],
                  iconAnchor: [12, 41],
                  popupAnchor: [1, -34],
                  shadowSize: [41, 41]
                });
                
              </script>
            <button class="btn btn-inqueue-purple w-100 mt-3 d-none" id="nextForm2Button" type="button" onclick="showNextForm('form2', this, validateFirstForm)">AVANTI</button>
        </section>

        <section id="form2">
            <h3>Ora aggiungi gli orari di apertura</h3>
            <div class="row mt-5">
                <div class="col-sm">
                    <label for="open-time">Orario di apertura:</label>
                    <input type="time" id="open-time" name="open-time" class="form-control form-control-md mb-3">
                </div>

                <div class="col-sm">
                    <div class="col-sm">
                        <label for="close-time">Orario di chiusura:</label>
                        <input type="time" id="close-time" name="close-time" class="form-control form-control-md mb-3">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm" id="services-container">
                    <label for="service">Servizio</label>
                    <input type="text" class="form-control" id="service" name="service">
                    <div onclick="addForm('service')">ss</div>
                </div>
                <div class="col-sm">
                    <label for="operator">Operatore</label>
                    <input type="text" class="form-control" id="operator" name="operator">
                </div>
            </div>
            <button class="btn btn-inqueue-purple w-100 mt-3 d-none" id="nextForm3Button" type="button" onclick="showNextForm('form3', this, validateSecondForm)">AVANTI</button>
        </section>
        <section id="form3">
            <h3>Infine, dicci chi sei</h3>
            <div class="row">
                <div class="col mt-3">
                    <label for="fname">Nome</label>
                    <input required type="text" autocomplete="given-name" class="form-control" id="fname" name="fname" placeholder="Nome">
                </div>
                <div class="col-md mt-3">
                    <label for="lname">Cognome</label>
                    <input required type="text" autocomplete="family-name" class="form-control" id="lname" name="lname" placeholder="Cognome">
                </div>
            </div>
            <div class="row">
                <div class="col-md mt-3">
                    <label for="email">Email</label>
                    <input required type="email" autocomplete="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="col mt-3">
                    <label for="cellphone">Telefono</label>
                    <input required type="tel" class="form-control" autocomplete="cellphone" id="cellphone" name="cellphone" placeholder="Telefono" pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$" title="Inserisci un numero di telefono valido">
                </div>
            </div>
            <input class="btn btn-danger w-100 mt-4" type="submit" onclick="addValidateCSS(); checkValidity()">
        </section>
    </form>
</div>

<script type="text/javascript">
    window.onload = function() {
        document.getElementById('form2').classList.add('d-none')
        document.getElementById('nextForm2Button').classList.remove('d-none')
        document.getElementById('form3').classList.add('d-none')
        document.getElementById('nextForm3Button').classList.remove('d-none')
        document.getElementById('form4').classList.add('d-none')
        document.getElementById('nextForm4Button').classList.remove('d-none')
    }

    function validateFirstForm() {
        return true

    }

    function validateSecondForm() {
        let openTime = document.getElementById('open-time')
        let closeTime = document.getElementById('close-time')

        if (openTime.value !== closeTime.value) {
            openTime.setCustomValidity("")
            closeTime.setCustomValidity("")
            return true
        }


        openTime.setCustomValidity("Invalid field.")
        closeTime.setCustomValidity("Invalid field.")
        addValidateCSS()
        return false

    }

    function checkValidity() {
        if (validateFirstForm() && validateSecondForm())
            return true
        return false
    }
</script>

<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    </script>

<script>
    function businessGPS() {
        getPosition(getLatLonAndAddToBusiness)
}  

function getLatLonAndAddToBusiness(position) {
    let oldPos = lat+lon
    getLatLon(position)
    if (oldPos != lat+lon) {
        updateData(lat, lon)
    }
}




/* thanks https://jeffreymorgan.io/articles/how-to-center-a-leaflet-map-on-a-marker/ */
function centerLeafletMapOnMarker(map, marker) {
  let latLngs = [ marker.getLatLng() ];
  let markerBounds = L.latLngBounds(latLngs);
  map.fitBounds(markerBounds);
}

function disableByType(element) {
    if (element.value == 'field')
        disable(document.getElementById('operator'))
    else 
        enable(document.getElementById('operator'))
}

function disable(element) {
    element.disabled = true 
}

function enable(element) {
    element.disabled = false 
}


businessPositionMap.on('click', positionClick)


let marker = new L.marker([], {icon: markerIcon, draggable: true})

marker.on('dragend', function() {updateData(marker._latlng.lat, marker._latlng.lng)})

function updateData(new_lat, new_lon){
  let lat = new_lat;
  let lon = new_lon;
  let data = getNominatimData(lat, lon)
  let d
  if(d = getCityName(data))
    document.getElementById('city').value = d
  document.getElementById('lat').value = data.lat
  document.getElementById('lon').value = data.lon
  if(d = getCityRoad(data))
    document.getElementById('address').value = d
  addMarker(lat, lon)
}


function getAddress(string) {
    data = searchNominatimData(string)
    console.log(data[0])
    getCityRoad(data[0])
    document.getElementById('address').value = getCityRoad(data[0])
    document.getElementById('city').value = getCityName(data[0])
    let lat = data[0].lat
    let lon = data[0].lon
    document.getElementById('lat').value = lat
    document.getElementById('lon').value = lon
    addMarker(lat, lon)
}

function addMarker(lat, lon){
    if (typeof marker != "undefined")
           businessPositionMap.removeLayer(marker)
    marker.setLatLng([lat, lon])
    centerLeafletMapOnMarker(businessPositionMap, marker)
    businessPositionMap.addLayer(marker);
}


function positionClick(e) {
    updateData(e.latlng.lat, e.latlng.lng)    
}

if(!navigator.userAgent.toLowerCase().match(/mobile/i)) {
    (document.getElementById('GPSButton')).classList.add('d-none')
}

function addForm(idForm, counter) {
    let input = document.createElement('input')
    let currInp = document.getElementById(idForm)
    let newInp = currInp.parentNode.insertBefore(input, currInp)
    console.log(currInp.classList)
    newInp.classList.add('form-control')
    newInp.classList.add('mt-2')
    num = num + 1
    numElement.value = String(num)
    newInp.id = idForm + '_' + num
}



autocomplete(document.getElementById('city'), countries)
</script>

{% endblock %}