{% extends 'base.html' %}

{% block title %}
Modifica i dati della tua attività
{% endblock %}

{% block main %}
    <!--
<script>
    function placeButtons() {
        var button1 = document.createElement("button")
        var button2 = document.createElement("button")

        var img1 = document.createElement("img")
        var img2 = document.createElement("img")

        var inQueue = document.getElementById("header")

        var div = document.createElement("div")

        var ref = document.createElement("a")

        button1.classList.add("btn")
        button1.classList.add("btn-inqueue-purple")
        button1.classList.add("w-25")
        button1.classList.add("section")

        button2.classList.add("btn")
        button2.classList.add("btn-inqueue-purple")
        button2.classList.add("w-25")
        button2.classList.add("section")
        //button2.style = "background-color: rgb(98, 92, 196); border-color: rgb(84, 78, 163);"

        img1.src = "/static/images/calendar.png"
        img1.style = "width: 35%; height: auto;"

        img2.src = "/static/images/settings.png"
        img2.style = "width: 35%; height: auto;"

        ref.href = "/protected/{{ query_result["business_name"] }}/settings"
        //button1.appendChild(ref)
        ref.appendChild(button2)

        button1.appendChild(img1)
        button2.appendChild(img2)

        div.classList.add("col-6")
        div.appendChild(button1)
        div.appendChild(ref)

        inQueue.appendChild(div)
    }
    placeButtons();
</script>

<style>
    #businessPositionMap{
        height: 30rem;
    }

    .section {
        float: right;
    }
</style>

<h2 class="mt-5 mb-4">Modifica qui i dati della tua attività, sovrascrivendo i vecchi</h2>
<p class="text-muted">Quando hai finito con le modifiche, clicca su "Applica le modifiche" in fondo alla pagina</p>
<div class="container">
    <form action="#" method="POST" id="form" enctype="multipart/form-data" class="mt-5">
        <section id="form1">
            <h3>Informazioni sulla tua attività</h3>
            <div class="mb-3">
                <label for="img" class="form-label d-block">Immagine di presentazione</label>
                <img id="output" width="200" class="my-2 mx-auto d-block"/>
                <input class="form-control" type="file" accept="image/*" id="img" name="img" onchange="loadFile(event)" >
              </div>
            <div class="row">
                <div class="col-md mt-3">
                    <label for="business_name">Nome attività</label>
                    <input required type="text" pattern="[A-Za-z0-9 ]*" autocomplete="activity-name" class="form-control" id="business_name" name="business_name" value="{{ query_result["business_name"][:-9] }}">
                </div>
                <div class="col mt-3">
                    <label for="type">Tipologia</label>
                    <select class="form-select form-select-md mb-3" id="type" name="type" onchange="disableByType(this)">
                        <option value="{{query_result["business_type"]}}" selected>{{ business_types_dict_italian[query_result["business_type"]] }}</option>
                        <option value="barber">Barbiere</option>
                        <option value="beautician">Estetista</option>
                        <option value="hairdresser">Parrucchiere</option>
                        <option value="field">Campo sportivo</option>
                        <option value="museum">Museo</option>
                        <option value="attraction">Luogo d'interesse</option>
                        <option value="freelance">Libero professionista</option>
                        <option value="car-repair">Meccanico</option>
                        <option value="gym">Palestra</option>
                    </select>
                </div>
            </div>

            <h3>Inserisci l'indirizzo della tua attività</h3>
            <p class="text-muted">Clicca sulla mappa per aggiungere la posizione in cui si trova la tua attività</p>






              <input type="text" class="form-control" name="lat" id="lat" value="{{ query_result["lat"] }}" readonly hidden required>
              <input type="text" class="form-control" name="lon" id="lon" value="{{ query_result["lon"] }}"readonly hidden required>
            <div class="row">

             <div class="col">
                <label for="address">Indirizzo</label>
                <div class="input-group mb-3">
              <button class="btn btn-outline-secondary" type="button" onclick="businessGPS()" id="GPSButton">Localizzami</button>
                <input type="text" class="form-control" name="address" id="address" value="{{ query_result["address"] }}" required autocomplete="no">
                </div>
              </div>


            <div class="col">
              <label for="city">Città</label>
            <div class="row">
               <div class="col mb-3 autocomplete">
                  <input type="text" class="form-control" value="{{ query_result["city"] }}" name="city" id="city" required autocomplete="no">
                </div>
                <div class="col">
                <button class="btn btn-outline-secondary" type="button" onclick="getAddress((document.getElementById('address').value + ' ' + document.getElementById('city').value))">Cerca</button>
                </div>
                </div>

             </div>
        </div>


            <div id="businessPositionMap"></div>
            <script type="text/javascript">
                /* LEAFLET */
                let businessPositionMap = L.map('businessPositionMap').setView([{{ query_result["lat"] }}, {{ query_result["lon"] }}], 6);
                businessPositionMap.zoomControl.remove()
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
                }).addTo(businessPositionMap);

                let markerIcon = L.icon({
                  iconUrl: '/static/images/leafletimages/marker-icon.png',
                  shadowUrl: '/static/images/leafletimages/marker-shadow.png',
                  iconSize: [25, 41],
                  iconAnchor: [12, 41],
                  popupAnchor: [1, -34],
                  shadowSize: [41, 41]
                });
                let marker = L.marker([{{ query_result["lat"] }}, {{ query_result["lon"] }}], {icon: markerIcon, draggable: true}).addTo(businessPositionMap);
                centerLeafletMapOnMarker(businessPositionMap, marker)
              </script>
        </section>

        <section id="form2">
            <h3>Ora aggiungi gli orari di apertura</h3>
            <div class="row mt-5">
                <h5>Mattina</h5>
                <div class="col-sm">
                    <label for="open-time1">Orario di apertura:</label>
                    <input type="time" step="900" id="open-time1" name="open-time1" class="form-control form-control-md mb-3" value="{{ query_result["open_time1"] }}">
                </div>

                <div class="col-sm">
                    <div class="col-sm">
                        <label for="close-time1">Orario di chiusura:</label>
                        <input type="time" step="900" id="close-time1" name="close-time1" class="form-control form-control-md mb-3" value="{{ query_result["close_time1"] }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <h5>Pomeriggio</h5>
                <div class="col-sm">
                    <label for="open-time2">Orario di apertura:</label>
                    <input type="time" step="900" id="open-time2" name="open-time2" class="form-control form-control-md mb-3" value="{{ query_result["open_time2"] }}">
                </div>

                <div class="col-sm">
                    <div class="col-sm">
                        <label for="close-time2">Orario di chiusura:</label>
                        <input type="time" step="900" id="close-time2" name="close-time2" class="form-control form-control-md mb-3" value="{{ query_result["close_time2"] }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm" id="services-container">
                    <label for="service">Servizio</label>
                    <input type="text" class="form-control" id="service" name="service" autocomplete="no" value="{{ query_result["service"][0] }}"required>
                    {% for i in range(1,query_result["service"]|length)  %}
                        {% set service_string = ["service_", i + 1]|join('') %}
                    <input type="text" class="form-control mt-2" id="{{  service_string }}" name="{{  service_string }}" autocomplete="no" value="{{ query_result["service"][i] }}"required>
                    {% endfor %}
                    <button type="button" class="btn btn-primary mt-3" onclick="addForm('service', 'num_of_services')">Aggiungi</button>
                    <input hidden class="d-none" name="num_of_services" id="num_of_services" type="text" value="{{query_result["service"]|length  }}"></input>
                </div>
                <div class="col-sm">
                    <label for="service">Intervallo in minuti per ogni prenotazione</label>
                    <input type="number" class="form-control" id="slot" name="slot" min="15" max="180" steps="15" value="{{ t_delta }}"required>
                </div>
            </div>
        </section>
        <section id="form3">
            <h3>Infine, dicci chi sei</h3>
            <div class="row">
                <div class="col mt-3">
                    <label for="fname">Nome</label>
                    <input required type="text" autocomplete="given-name" class="form-control" id="fname" name="fname" placeholder="Nome" value="{{ query_result_account["fname"] }}">
                </div>
                <div class="col-md mt-3">
                    <label for="lname">Cognome</label>
                    <input required type="text" autocomplete="family-name" class="form-control" id="lname" name="lname" placeholder="Cognome" value="{{ query_result_account["lname"] }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md mt-3">
                    <label for="email">Email</label>
                    <input required type="email" autocomplete="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ query_result_account["email"] }}" readonly>
                </div>
                <div class="col mt-3">
                    <label for="cellphone">Telefono</label>
                    <input required type="tel" class="form-control" autocomplete="cellphone" id="cellphone" name="cellphone" placeholder="Telefono" value="{{ query_result_account["cellphone"] }}" pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$" title="Inserisci un numero di telefono valido">
                </div>
            </div>
        </section>
         <section id="form4">
             <h3>Seleziona una password per il tuo account</h3>
             <label for="password">Password</label>
             <div class="input-group mb-3">
                <input type="password" name="password" id="password" autocomplete="new-password" class="form-control" onchange="validatePassword()" required/>
                <div class="input-group-append">
                    <div class="input-group-text">
                  <input type="checkbox" aria-label="Mostra password" id="show-password" onclick="showPassword()" tabindex="-1"><label class="mr-2" for="show-password">Mostra password</label>
                  </div>
                </div>
              </div>
             <label for="password-confirm">Conferma password</label>
             <input type="password" name="password-confirm" id="password-confirm" class="form-control" onkeyup="validatePassword()" required/>
             <input class="btn btn-danger w-100 mt-4" type="submit" onclick="addValidateCSS(); validateAll()" value="Applica le modifiche"/>
         </section>
    </form>
</div>

<script type="text/javascript">


    function validateFirstForm() {
        let business_name = (document.getElementById('business_name').checkValidity())
        let addr = ((document.getElementById('address').value).length > 0)
        let city = ((document.getElementById('city').value).length > 0)
        let inlat = document.getElementById('lat').value
        let inlon = document.getElementById('lon').value


        if (business_name && addr && city){
            if((inlat > -90 && inlat < 90) && (inlon > -180 && inlon < 180))
                return true
        }
        addValidateCSS('form1')
        return false
    }

    function validateSecondForm() {
        return true

       let morningOpenTime = document.getElementById('open-time1')
        let morningCloseTime = document.getElementById('close-time1')
        let eveningOpenTime = document.getElementById('open-time2')
        let eveningCloseTime = document.getElementById('close-time2')

        if (morningCloseTime.value < morningOpenTime.value) {
            morningOpenTime.setCustomValidity("Invalid field.")
            morningCloseTime.setCustomValidity("Invalid field.")
            return false
        }

        if (eveningCloseTime.value < eveningOpenTime.value) {
            eveningOpenTime.setCustomValidity("Invalid field.")
            eveningCloseTime.setCustomValidity("Invalid field.")
            return false
        }


        if (morningCloseTime > eveningOpenTime) {
            eveningOpenTime.setCustomValidity("Invalid field.")
            morningCloseTime.setCustomValidity("Invalid field.")
            return false
        }



        openTime.setCustomValidity("")
        closeTime.setCustomValidity("")
        addValidateCSS('form2')
        return true
    }

    function validateThirdForm() {
        return true

    }

    function validatePassword() {
        let password = document.getElementById('password')
        let passwordConfirm = document.getElementById('password-confirm')

        addValidateCSS('form4')

        if(password.value != passwordConfirm.value) {
             passwordConfirm.setCustomValidity("Passwords not matching")
         } else {
            passwordConfirm.setCustomValidity('')
         }
    }

    function showPassword(){
        let passwordField = document.getElementById('password')

        if (passwordField.type === "password")
            passwordField.type = "text"
        else
            passwordField.type = "password"
    }

    function validateAll() {
        if (validateFirstForm() && validateSecondForm())
            return true
        return false
    }
</script>

<script>
    let loadFile = function(event) {
        let image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    </script>

<script>
    function businessGPS() {
        getPosition(getLatLonAndAddToBusiness)
}

function getLatLonAndAddToBusiness(position) {
    let oldPos = lat+lon
    getLatLon(position)
    if (oldPos != lat+lon) {
        updateData(lat, lon)
    }
}


function disableByType(element) {
    if (element.value == 'field')
        disable(document.getElementById('operator'))
    else
        enable(document.getElementById('operator'))
}

function disable(element) {
    element.disabled = true
}

function enable(element) {
    element.disabled = false
}


businessPositionMap.on('click', positionClick)


marker.on('dragend', function() {updateData(marker._latlng.lat, marker._latlng.lng)})

function updateData(new_lat, new_lon){
  let lat = new_lat;
  let lon = new_lon;
  let data = getNominatimData(lat, lon)
  let d
  if(d = getCityName(data))
    document.getElementById('city').value = d
  document.getElementById('lat').value = data.lat
  document.getElementById('lon').value = data.lon
  if(d = getCityRoad(data))
    document.getElementById('address').value = d
  addMarker(lat, lon)
}


function getAddress(string) {
    data = searchNominatimData(string)
    if (!data) // search returned no results or blank query
        return
    getCityRoad(data[0])
    document.getElementById('address').value = getCityRoad(data[0])
    document.getElementById('city').value = getCityName(data[0])
    let lat = data[0].lat
    let lon = data[0].lon
    document.getElementById('lat').value = lat
    document.getElementById('lon').value = lon
    addMarker(lat, lon)
}

function addMarker(lat, lon){
    if (typeof marker != "undefined")
           businessPositionMap.removeLayer(marker)
    marker.setLatLng([lat, lon])
    centerLeafletMapOnMarker(businessPositionMap, marker)
    businessPositionMap.addLayer(marker);
}


function positionClick(e) {
    updateData(e.latlng.lat, e.latlng.lng)
}

if(!navigator.userAgent.toLowerCase().match(/mobile/i)) {
    (document.getElementById('GPSButton')).classList.add('d-none')
}


function addForm(idForm, counter) {
    let input = document.createElement('input')
    let numElement = document.getElementById(counter)
    let num = Number(numElement.value)
    let currInp = document.getElementById(idForm+'_'+num)
    if (num == 1)
        currInp = document.getElementById(idForm)
    let newInp = currInp.parentNode.insertBefore(input, currInp.nextSibling)
    newInp.classList.add('form-control')
    newInp.classList.add('mt-2')
    num = num + 1
    numElement.value = String(num)
    newInp.id = idForm + '_' + num
    newInp.name = idForm + '_' + num
    newInp.type="text"
    newInp.autocomplete="no"
    newInp.required=true
}



autocomplete(document.getElementById('city'), countries)
</script>

{% endblock %}