{% extends 'base.html' %}

{% block main %}

<div class="jumbotron jumbotron-fluid my-5 text-center">
  <div class="container">
    <h1 class="display-4">Prenota le attività vicine a te</h1>
    <p class="lead">Con InQueue puoi prenotare le attività vicine a casa tua o nella zona in cui ti trovi!</p>
  </div>
</div>




    <div class="mh-100 w-100 text-center">
    <h2>Cerca attività nella tua zona</h2>
    <form  autocomplete="off" action="#" method="POST" id="form" enctype="multipart/form-data" class="text-center my-5">
        <div class="autocomplete" style="width:300px;">
            <input id="city" class="form-control form-control-lg" type="search" name="city" placeholder="Città" value="{{ city_from_cookie }}" autofocus>
        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="Trova attività!">
    </form>
</div>

<script>
GPSInput()
autocomplete(document.getElementById('city'), countries)
</script>
{% endblock %}