{% extends 'base.html' %}

{% block main %}
<style>
    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }


    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

    .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
    }

    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }

</style>

<div class="jumbotron jumbotron-fluid my-5 text-center">
  <div class="container">
    <h1 class="display-4">Prenota le attività vicine a te</h1>
    <p class="lead">Con InQueue puoi prenotare le attività vicine a casa tua o nella zona in cui ti trovi!</p>
  </div>
</div>




    <div class="mh-100 w-100 text-center">
    <h2>Cerca attività nella tua zona</h2>
    <form  autocomplete="off" action="#" method="POST" id="form" enctype="multipart/form-data" class="text-center my-5">
        <div class="autocomplete" style="width:300px;">
            <input id="city" class="form-control form-control-lg" type="search" name="city" placeholder="Città" value="{{ city_from_cookie }}" autofocus>
        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="Trova attività!">
    </form>
</div>

<script>
GPSInput()
autocomplete(document.getElementById('city'), countries)
</script>
{% endblock %}