{% extends 'base.html' %}

{% block title %}
Prenota
{% if variable is defined %}
{{ activity }}
{% else %}
attività
{% endif %}
a
{{ city }}
{% endblock %}

{% block main %}
<h1>Prenota attività a <span id="selectedCity" class="inqueue-orange" onclick="localityModifier()">{{ city }}</span>
</h1>

<!-- CIRCLES -->
<div class="d-flex justify-content-around align-items-center flex-xxl-wrap">

    <div class="homepage-circle-container mt-3">
        <img class="circle-img" src="../static/images/museum.png" width="40"/>
        <div class="homepage-circle"></div>
        <div class="homepage-circle-text">Visite guidate</div>
    </div>
    <div class="homepage-circle-container mt-3">
        <img class="circle-img" src="../static/images/barber.png" width="40"/>
        <div class="homepage-circle"></div>
        <div class="homepage-circle-text">Barbieri</div>
    </div>
    <div class="homepage-circle-container mt-3">
        <img class="circle-img" src="../static/images/muscle.png" width="40"/>
        <div class="homepage-circle"></div>
        <div class="homepage-circle-text">Palestre</div>
    </div>
    <div class="homepage-circle-container mt-3">
        <img class="circle-img" src="../static/images/soccer-field.png" width="40"/>
        <div class="homepage-circle"></div>
        <div class="homepage-circle-text">Campi sportivi</div>
    </div>
    <div class="homepage-circle-container mt-3">
        <img class="circle-img" src="../static/images/nail-polish.png" width="40"/>
        <div class="homepage-circle"></div>
        <div class="homepage-circle-text">Centri estetici</div>
    </div>
    <div class="homepage-circle-container mt-3">
        <img class="circle-img" src="../static/images/mechanic.png" width="40"/>
        <div class="homepage-circle"></div>
        <div class="homepage-circle-text">Officine</div>
    </div>

</div>
<!-- Businesses near you-->
<h2 class="mt-5 mb-4">Attività vicine a te</h2>

<div class="d-flex justify-content-around align-items-center flex-xxl-wrap">
    {% for i in range(2) %}
    <div class="row">
        {% for i in range(3) %}
        <div class="col">
                <div class="card d-inline-block mx-5 my-2" style="...">
                    <a href="business-info.html" class="text-decoration-none">
                        <img class="card-img-top" src="../static/images/barbershop.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title fw-bold h5">Barbershop</p>
                            <p class="text-muted">Via Roma, 40 - Napoli</p>
                            <div class="container">
                                <div class="row align-items-start">
                                    <div class="col text-start">
                                        ⭐⭐⭐⭐⭐<span class="text-secondary">(37)</span>
                                    </div>
                                    <div class="col text-end">
                                        200m
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<div class="container text-center">
    <a href="list.html" class="text-decoration-none">
        <button class="btn btn-inqueue-purple w-25 mt-3" id="see_more_button"> VEDI ALTRO</button>
    </a>
</div>
<!-- Businesses loved by users -->
<h2 class="mt-5 mb-4">Attività amate dagli utenti</h2>

<div class="d-flex justify-content-around align-items-center flex-xxl-wrap">
    {% for i in range(2) %}
    <div class="row">
        {% for i in range(3) %}
        <div class="col">
            <div class="card d-inline-block mx-5 my-2" style="...">
                <a href="business-info.html" class="text-decoration-none">
                    <img class="card-img-top" src="../static/images/barbershop.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title fw-bold h5">Barbershop</p>
                        <p class="text-muted">Via Roma, 40 - Napoli</p>
                        <div class="container">
                            <div class="row align-items-start">
                                <div class="col text-start">
                                    ⭐⭐⭐⭐⭐<span class="text-secondary">(37)</span>
                                </div>
                                <div class="col text-end">
                                    200m
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<div class="container text-center">
    <a href="list.html" class="text-decoration-none">
        <button class="btn btn-inqueue-purple w-25 mt-3" id="see_more_button2"> VEDI ALTRO</button>
    </a>
</div>

{% endblock %}