{% extends 'base.html' %}

{% block title %}
Prenota
{% if variable is defined %}
{{ activity }}
{% else %}
attività
{% endif %}
a
{{ city }}
{% endblock %}

{% block main %}

<div class="city_container">
    <h1>Prenota attività a <span id="selectedCity" class="inqueue-orange" onclick="localityModifier()">{{ city }} <img
            class="dropdown_icon" src="{{ url_for('static', filename='images/dropdown.png') }}" width="20px"> </span></h1>
</div>

<style>
</style>

<div class="row d-flex justify-content-center">
    <div class="homepage-circle-container homepage-circle-container d-flex flex-column justify-content-center align-items-center">
        <img class="circle-img" src="../static/images/column.png" alt="visite" width="65px">
        <p>Visite guidate</p>
    </div>
    <div class="homepage-circle-container d-flex flex-column justify-content-center align-items-center">
        <img class="circle-img" src="../static/images/soccer-field.png" alt="campi" width="65px">
        <p>Campi sportivi</p>
    </div>
    <div class="homepage-circle-container d-flex flex-column justify-content-center align-items-center">
        <img class="circle-img" src="../static/images/muscle.png" alt="palestre" width="65px">
        <p>Palestre</p>
    </div>
    <div class="homepage-circle-container d-flex flex-column justify-content-center align-items-center">
        <img class="circle-img" src="../static/images/nail-polish.png" alt="centri_estetici" width="65px">
        <p>Centri estetici</p>
    </div>
    <div class="homepage-circle-container d-flex flex-column justify-content-center align-items-center">
        <img class="circle-img" src="../static/images/mechanic.png" alt="meccanici" width="65px">
        <p>Meccanici</p>
    </div>
    <div class="homepage-circle-container d-flex flex-column justify-content-center align-items-center">
        <img class="circle-img" src="../static/images/barber.png" alt="parrucchieri" width="65px">
        <p>Parrucchieri e barbieri</p>
    </div>
    <div class="homepage-circle-container d-flex flex-column justify-content-center align-items-center">
        <img class="circle-img" src="../static/images/lawyer.png" alt="liberi_professionisti" width="65px">
        <p>Liberi professionisti</p>
    </div>
</div>
</div>
</div>

<h2 class="mt-5 mb-4">Attività vicino a te</h2>

<section class="container_deck">
    <div class="row row-cols-2 row-cols-sm-3">
        {% for element in businesses_in_city %}
        <div class="col mb-4">
            <div class="card" style="height:250px">
                <img src="/photos/{{element["business_name"]}}.jpg" class="card-img-top" style="width: 100%; height: 100%; object-fit: fill" alt="">
                <a href="/business/{{ element["business_name"] }}">
                <div class="card-body card-img-overlay d-flex flex-column">
                    <div class="row">
                        <h5 class="card-title">{{ (element["business_name"])[:-9] }}</h5>
                    </div>
                    <div class="row">
                        <p class="card-subtitle">{{ element["address"] }}</p>
                    </div>
                    <div class="row info-row-3 mt-auto">
                        <div class="col-6 text-start">
                            4.7 ⭐ (999+)
                        </div>
                        <div class="col-6 text-end">
                            200m
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Businesses loved by users -->
<h2 class="mt-5 mb-4">Attività amate dagli utenti</h2>

<section class="container_deck">
    <div class="row row-cols-2 row-cols-sm-3">
        {% for i in range(6) %}
        <div class="col mb-4">
            <div class="card">
                <img src="../static/images/barbers_images/b1.jpg" class="card-img-top" alt="...">
                <div class="card-body card-img-overlay d-flex flex-column">
                    <div class="row row-cols-sm-auto">
                        <h5 class="card-title">Barberia del corso</h5>
                    </div>
                    <div class="row row-cols-sm-auto">
                        <p class="card-subtitle">Corso Vittorio Emanuele, 40</p>
                    </div>
                    <div class="row info-row-3 mt-auto">
                        <div class="col-6 text-start">
                            4.7 ⭐ (999+)
                        </div>
                        <div class="col-6 text-end">
                            200m
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<div class="button-container">
    <a href="list.html">
        <button class="btn btn-inqueue-purple w-75" type="button">Vedi Altro</button>
    </a>
</div>

{% endblock %}