{% extends 'base.html' %}

{% block title %}
Valuta la tua esperienza da {{ query_result["business_name"][:-9] }}
{% endblock %}

{% block head %}
<!--https://pryley.github.io/star-rating.js/-->
<link href="{{ url_for('static', filename='css/star-rating.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="jumbotron jumbotron-fluid my-5 text-center">
    <div class="container">
        <h1 class="display-4">Valuta la tua esperienza da {{ query_result["business_name"][:-9] }} </h1>
        <p class="muted">Esprimi un giudizio da 1 a 5 stelle</p>
    </div>
</div>

<div class="mh-100 w-100">
    <h2>{{ query_result["name"] }}, come valuteresti {{ query_result["business_name"][:-9] }}?</h2>
    <div class="row d-flex justify-content-center">
    <form action="#" method="POST" id="form" enctype="multipart/form-data" class="mt-5">
        <div class="mx-auto mt-3" style="transform: translateX(45%);">
            <select class="star-rating d-flex flex-column justify-content-center align-items-center" id="rating" name="rating>
                <option value="">Seleziona una valutazione</option>
                <option value="5">Eccellente</option>
                <option value="4">Molto buono</option>
                <option value="3">Buono</option>
                <option value="2">Non buono</option>
                <option value="1">Terribile</option>
            </select>
        </div>
        <input type="submit" class="btn btn-inqueue-purple mx-auto d-block mt-4" value="Conferma">
    </form>
    </div>
</div>

<script src="{{url_for('static', filename='js/star-rating.js')}}"></script>
<script>
    window.onload = function () {
        let stars = new StarRating('.star-rating', {tooltip: false})
    }
</script>


{% endblock %}
